@import url('https://fonts.googleapis.com/css2?family=Average+Sans&family=Noto+Sans:wght@700&family=Sarala&display=swap');

// Font Variables
$heading-font: 'Noto Sans', sans-serif;
$subheading-font: 'Average Sans', sans-serif;
$text-font: 'Sarala', sans-serif;

// Colors
$bg-color: #262626;
$txt-color: #D3E0EE;
$game-bg-color: #255C99;
$grid-color: #7EA3CC;

// Styling
$border-style: 8px solid $game-bg-color;;