@import 'variables';
@import 'mixins';
@import 'tile';

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bg-color;
    overflow: hidden;
    header {
        padding: 1.5vh;
        color: $txt-color;
        @include center;
        h1 {
            padding: 1vh;
            font-family: $heading-font;
            font-size: 4rem;
        }
        a {
            text-decoration: none;
            color: $txt-color;
            padding-bottom: 1vh;
            font-family: $subheading-font;
            font-size: 2rem;
            &:hover {
                color: rgb(149, 194, 209);
                transition: 0.3s;
            }
        }
    }
}

.grid {
    display: grid;
    margin: 0 auto;
    width: 60vmin;
    height: 60vmin;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    background-color: $grid-color;
    border: $border-style;
    @include border-radius(12px);
    .tile {
        border: $border-style;
        background-color: $grid-color;
        display: flex;
        @include center;
        &:hover, &:active {
            &:not(.used) {
                background-color: $hover-color;
                transition: 0.3s;
            }
        }
        p {
            color: $txt-color;
            font-weight: bold;
            font-size: 3rem;
            max-width: fit-content;
            font-family: $text-font;
            @include transition;
        }
    }
}
.winnerText {
    @include center;
    font-size: 4rem;
    font-family: $text-font;
    color: $txt-color;
    transition: 0.2s ease;
    position: relative;
}

.reset {
    display: flex;
    margin: auto;
    position: relative;
    font-family: $text-font;
    color: $txt-color;
    background-color: $game-bg-color;
    width: 17vmin;
    height: 10vmin;
    font-size: 2rem;
    @include border-radius(12px);
    @include center;
    border: none;
    visibility: hidden;
    &:hover {
        background-color: $hover-color2;
        transition: 0.3s;
    }
}